@model COMP2007_S2016_TeamProject2.Models.FoodItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodType.Name)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItemThumbnailImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItemThumbnailImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
