@using COMP2007_S2016_TeamProject2.Models
@model FoodType


@{
    ViewBag.Title = "Browse";
}

<div class="row">
    <div class="col-md-3">
    <h3><em>@Model.Name</em></h3>>

        <ul id="album-list">
            @foreach (FoodItem fooditem in Model.FoodItems)
            {
                <li>
                    <a href="@Url.Action("Details", new { id = fooditem.FoodItemId })">
                        <img alt="@fooditem.Title" src="@fooditem.FoodItemThumbnailImageUrl"
                             width="110" height="90" />
                        <span class="label label-info">@fooditem.ShortDescription</span>
                        <span class="label label-default">@fooditem.Title</span>
                    </a>
                </li>
            }

        </ul>
    </div>
</div>


