@using COMP2007_S2016_TeamProject2.Models
@model FoodType

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: @Model.Name</h2>

<div class="row">
    <ul>
        @foreach (FoodItem fooditem in Model.FoodItems)
        {
            <div class="col-sm-3 col-md-3">


                <div class="img">
                    <a target="_top" href="">
                        <img src="@fooditem.FoodItemThumbnailImageUrl" alt="@fooditem.Title" width="250" height="200" />
                    </a>
                    <div class="desc">@fooditem.ShortDescription</div>
                    <h5>@Html.ActionLink(fooditem.Title, "Details", new { id = fooditem.FoodItemId })</h5>
                    <p>$@fooditem.Price</p>

                </div>

            </div>
        }
    </ul>
</div>

