@using COMP2007_S2016_TeamProject2.Models
@model FoodItem

@{
    ViewBag.Title = "Album - " + Model.Title;
}
<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title"
         src="@Model.FoodItemLargeImageUrl" width="300" height="200"/>
</p>
<div id="album-details">
    <p>
        <em>Category:</em>
        @Model.FoodType.Name
    </p>
    <p>
        <em>Translation:</em>
        @Model.DetailedDescription
    </p>




</div>